@if (Item is not null)
{
    <figure class="card @((Item.Theme == ThemeType.Light) ? "card_white" : "card_grey")">

        <a class="card__image" href="@Item.Href">
            <img src="@Item.Image?.Source" alt="@Item.Image?.Alt" />
        </a>

        <figcaption class="card__title">
            @Item.Title
            @if (!string.IsNullOrEmpty(Item.Remark))
            {
                <span>@Item.Remark</span>
            }
        </figcaption>

        @if (Item.Price is not null)
        {
            <p class="cart__price">
                @Item.Price руб.
            </p>
        }

        @if (Item.ShowWeights)
        {
            <EditForm Model="product">
                <InputRadioGroup @bind-Value="product.Weight">
                    <div class="card__radio">
                        <label class=@((product.Weight == 200) ? "card__weight-label checked" : "card__weight-label") ><InputRadio TValue="int" Value="200" aria-hidden="true" />200 г</label>
                        <label class=@((product.Weight == 400) ? "card__weight-label checked" : "card__weight-label") ><InputRadio TValue=" int" Value="400" aria-hidden="true" />400 г</label>
                        <label class=@((product.Weight == 800) ? "card__weight-label checked" : "card__weight-label") ><InputRadio TValue="int" Value="800" aria-hidden="true" />800 г</label>
                        <label class=@((product.Weight == 1000) ? "card__weight-label checked" : "card__weight-label") ><InputRadio TValue="int" Value="1000" aria-hidden="true" />1 кг</label>
                    </div>
                </InputRadioGroup>
            </EditForm>
        }

        <div class="card__controls">
            <a href="@Item.Link?.Url" class="card__link">@Item.Link?.Text</a>
            @if (Item.ShowCart)
            {
                <button class="card__button" type="button" aria-label="Добавить в корзину">
                    <img src="images/icons/cart.svg" alt="Корзина" />
                </button>
            }
        </div>

        @if (Item.Discount)
        {
            <div class="card__discount">Скидка</div>
        }

    </figure>
}

@code {
    private Product product;

    [Parameter]
    public CardModel? Item { get; set; }

    protected override void OnInitialized()
    {
        if (Item?.Price is not null)
        {
            product = new()
                {
                    Price = Item.Price,
                    Name = Item.Title,
                    Weight = 200
                };
        }
    }
}
